* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 4rem;
}

p {
  margin-top: 2rem;
}

strong {
  color: hsl(160deg, 100%, 30%)
}

.max-width-wrapper {
  padding-left: 32px;
  padding-right: 32px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  margin-top: 6rem;
  margin-bottom: 4rem;
  padding-left: 1rem;
}

main {
  background-color: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 30%);
}

.card {
  background-color: white;
  border-bottom: 8px solid hsl(0deg, 0%, 30%);
  padding-left: 1rem;
}
